ci:
  autoupdate_commit_msg: "chore: update pre-commit hooks"
  autofix_commit_msg: "style: pre-commit fixes"

repos:
# Standard hooks
- repo: https://github.com/pre-commit/pre-commit-hooks
  rev: v4.3.0
  hooks:
  - id: check-added-large-files
  - id: check-case-conflict
  - id: check-merge-conflict
  - id: check-symlinks
  - id: check-yaml
  - id: debug-statements
  - id: requirements-txt-fixer
  - id: trailing-whitespace

# Sort imports in a standard form
- repo: https://github.com/PyCQA/isort
  rev: 5.10.1
  hooks:
  - id: isort
    exclude: |
      (?x)^(
          ^docs
      )$

# Upgrade older Python syntax
- repo: https://github.com/asottile/pyupgrade
  rev: v3.0.0
  hooks:
  - id: pyupgrade
    args: ["--py36-plus"]
    exclude: |
      (?x)^(
          ^docs
      )$

# Changes tabs to spaces
- repo: https://github.com/Lucas-C/pre-commit-hooks
  rev: v1.3.1
  hooks:
  - id: remove-tabs
    exclude: |
      (?x)^(
          ^docs
      )$

# Flake 8
- repo: https://github.com/PyCQA/flake8
  rev: 5.0.4
  hooks:
  - id: flake8
    additional_dependencies: [flake8-bugbear]
    exclude: |
      (?x)^(
          ^docs
      )$
